@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-expand-lg {
  background-color: rgb(0, 0, 0);
  height: 80px;
}
.nav-link{
  color: aliceblue;
}

.navbar-nav {
  margin-left: auto !important;
  font-size: 18px !important;
}

.navbar {
  background-color: black !important;
  padding: 15px !important;
}

.navbar-brand {
  color: white !important;
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 0;
  font-weight: 700;
  letter-spacing: 0.5px;
  transform: scale(1) !important;
  transition: transform 0.2s !important;
}


.smallimg {
  height: 200px;
  width: 100% !important;
  border-radius: 5px !important;
}

h1 {
  font-weight: 60;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px !important;
}
 
.btn{
  margin-top: 10px;
  font-size: 15px;
  background-color: black;
  box-shadow: none;
  margin-right: 100px;

  

}

.bs{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px !important;
}

.bigimg{
  height: 500px;
  width: 100%;
  border-radius: 5px;
}
.btnbtn{
  float: right;
}

.navbar-nav{
  margin-left: auto!important;
}

.dropdown-item:hover{
  color: #000000 !important;
}

.bigh{
  font-size: 30px !important;
  padding: 10px;
  font-weight: bold !important;
  text-align: center !important;
}

.dropdown-menu{
  background: rgb(255, 255, 255) !important;
}

.dropdown-toggle{
  border: 0px solid black !important;
}

.dropdown{
  margin-right: 100px !important;
}

.input ,select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.landing{

  background-color: #000000;
  height: 100vh;
  width: 100%;
  padding-top: 200px;
}

