@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-expand-lg {
  background-color: rgb(0, 0, 0);
  height: 80px;
}
.nav-link{
  color: aliceblue;
}

.navbar-nav {
  margin-left: auto !important;
  font-size: 18px !important;
}

.navbar {
  background-color: black !important;
  padding: 15px !important;
}

.navbar-brand {
  color: white !important;
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 0;
  font-weight: 700;
  letter-spacing: 0.5px;
  transform: scale(1) !important;
  transition: transform 0.2s !important;
}


.smallimg {
  height: 200px;
  width: 100% !important;
  border-radius: 5px !important;
}

h1 {
  font-weight: 60;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px !important;
}
 
h2 {
  font-weight: 70;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 70px !important;
}



 

  



.bs{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px !important;
}

.bigimg{
  height: 500px;
  width: 100%;
  border-radius: 5px;
}
.btn:hover{
  background-color: #858585;
  color: white;
  box-shadow: none;
}
.btn-primary{
  float: right;
  margin-bottom: 10px;
  size: 15px;
  background-color: #000000;
}

.navbar-nav{
  margin-left: auto!important;
}

.dropdown-item:hover{
  color: #000000 !important;
}

.bigh{
  font-size: 30px !important;
  padding: 10px;
  font-weight: bold !important;
  text-align: center !important;
}

.dropdown-menu{
  background: rgb(255, 255, 255) !important;
}

.dropdown-toggle{
  border: 0px solid black !important;
}

.dropdown{
  margin-right: 100px !important;
}

.input ,select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.landing{

  background-color: #000000;
  height: 100vh;
  width: 100%;
  padding-top: 200px;


}

.ant-picker{
box-shadow: none;
width: 100%;
}
.ant-picker::placeholder{
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;


}


.ant-picker-input::placeholder{
  color: #000000;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  padding: 10px;
  box-shadow: none;
  border-color: #000000;
}

.ant-picker-active-bar{
  border: 1px solid #000000;

}

.col-md-4 {
  padding: 10px;
}

.col-md-4 input{
  width: 100%;
  height: 42px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 10px;
}

.form-control{
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 10px;
}

.form-control:focus{
  border: 1px solid #ffffff;
  box-shadow: none;
  border-color: #000000;
}

.form-control::placeholder{
  color: #b1b1b1;
  font-size: 14px;
}


.form-control{
  width: 100%;
  height: 42px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 10px;
}

.form-control option{
  color: #dbdbdb;
  font-size: 14px;
}

.form-control:focus{
  border: 1px solid #ffffff;
  box-shadow: none;
  border-color: #000000;
}

.form-control::placeholder{
  color: #b1b1b1;
  font-size: 14px;
  
}

.fa-search{
  color: #ff0000;
  font-size: 20px;
  float: right;
  margin: 10px;

  
}

.col-md-5{
  padding: 10px;
}


.col-md-5 input{
  width: 100%;
  height: 42px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 10px;
}

.col-md-5 img{
  width: 100%;
  height: 250px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 10px;

}

.col-md-7{
  padding: 10px;
  margin-top: 20px;
  padding-left: 50px;
}

.btn1{
  width: 150px;
  height: 42px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  font-size: 15px;
  float: right;
}

.btn-dark{
  width: 150px;
  height: 42px;
  margin-top: 10px;
  margin-bottom: 5px;
 
}

